<div class="col-lg-12 col-md-12 col-sm-12">
<div class="col-lg-12 col-md-12 col-sm-12 loginbox"></div>
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4 box">
    <form #formcontrol=ngForm>
    <div class="col-lg-12 col-md-12 col-sm-12 txtalign form-grp" [class.has-error]="usernamecontrol.touched && usernamecontrol.invalid" [class.has-success]="usernamecontrol.valid">
      <label for="" class="control-label">Username</label>
      <input type="text" placeholder="Enter your username" #usernamecontrol="ngModel" name="username" [(ngModel)]="user.username" required>
      <span *ngIf="usernamecontrol.touched && usernamecontrol.invalid" class="help-block">Username is required</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 txtalign form-grp" [class.has-error]="usernamepassword.touched && usernamepassword.invalid" [class.has-success]="usernamepassword.valid">
      <label for="" class="control-label">Password</label>
      <input type="password" placeholder="Enter your password" #usernamepassword="ngModel" name="password" [(ngModel)]="user.password" required>
      <span class="help-block" *ngIf="usernamepassword.touched && usernamepassword.invalid">Password is required</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 txtalign">
        <button [disabled]="formcontrol.invalid" routerLink="/home" (click)="onlogin()">LogIn</button>
        

    </div>
  </form>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4"></div>

</div>