.bar{
    background-color: blueviolet;
}
.logo{
    padding:20px;
    width:100px;
}

.barelememt{
    padding: 20px 20px 5px 10px;
    font-size: 25px;
    text-align: center;
}
.bardata{
    padding: 30px 20px 5px 10px;
    font-size: 25px;
}
.search{
    padding:35px;
}
.addblogs{
    padding: 20px;
}
.button{
    text-align: center;
}
.fullbar{
    width:100%;
}