<div class="col-sm-12 col-md-12 col-lg-12 bar">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="col-sm-6 col-md-6 col-lg-6"><img class="logo" src="../../assets/Portal Logo.svg" routerLink="/addblog" alt="Logo"></div>
      <div class="col-sm-3 col-md-3 col-lg-3 bardata">Test</div>
      <div class="col-sm-3 col-md-3 col-lg-3 bardata">Debate</div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 search">
      <input type="text" placeholder="search">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="col-sm-4 col-md-4 col-lg-4 bardata">Requested</div>
      <div class="col-sm-4 col-md-4 col-lg-4 barelememt"><img src="../../assets/notification.png" alt="Notifications"></div>
      <div class="col-sm-4 col-md-4 col-lg-4 barelememt"><img src="../../assets/user.png" alt="user"></div>
    </div>
  </div>
  </div>
  <router-outlet>
    <div class="col-sm-12 col-md-12 col-lg-12  addblogs">
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-6 col-lg-6"><img style="height:35px;" src="../../assets/left-arrow.png" alt="Back"></div>
    <div class="col-sm-6 col-md-6 col-lg-6 button">
      <button (click)="onpublish()" routerLink="/home">Publish</button>
    </div>

    <div></div>
    </div>


    </div>
    <input type="number" placeholder="Enter firstnumber" [(ngModel)]="input.firstnumber"><br/>
    <input type="number" placeholder="Enter secondnumber" [(ngModel)]="input.secondnumber">
    <button (click)="onadd(input)">Add</button>
    {{results}}
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12 fullbar">
      <input type="text" class="fullbar" [(ngModel)]="post.title" placeholder="Enter title here">
    </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <textarea cols="30" class="fullbar" rows="10" [(ngModel)]="post.data">Write your post</textarea>
    </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <input type="text" class="fullbar" [(ngModel)]="post.tags" placeholder="Add Tags">
    </div>

    </div>
  </router-outlet>