<div class="col-sm-12 col-md-12 col-lg-12 bar">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="col-sm-6 col-md-6 col-lg-6"><img class="logo" src="../../assets/Portal Logo.svg" routerLink="/addblog" alt="Logo"></div>
    <div class="col-sm-3 col-md-3 col-lg-3 bardata">Test</div>
    <div class="col-sm-3 col-md-3 col-lg-3 bardata">Debate</div>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 search">
    <input type="text" placeholder="search">
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-5 col-md-5 col-lg-5">
    <div class="col-sm-4 col-md-4 col-lg-4 bardata">Requested</div>
    <div class="col-sm-2 col-md-2 col-lg-2 barelememt"><img src="../../assets/notification.png" alt="Notifications"></div>
    <div class="col-sm-2 col-md-2 col-lg-2 barelememt"><img src="../../assets/user.png" alt="user"></div>
    <div class="col-sm-2 col-md-2 col-lg-2 userdata">{{user.username}}</div>
    <div class="col-sm-2 col-md-2 col-lg-2 userdata">
      <button routerLink="" (click)="onlogout()">Logout</button>
    </div>

  </div>
</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
<div class="col-sm-12 col-md-12 col-lg-12 mainpost">
  <div *ngFor="let post of posts" class="col-sm-8 col-md-8 col-lg-8">
    <div class="col-sm-4 col-md-4 col-lg-4"><img src="../../assets/man.png" alt="Man"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">{{post.title}}</div>
    <div class="col-sm-4 col-md-4 col-lg-4">{{post.data}}</div>
    <div class="col-sm-4 col-md-4 col-lg-4">{{post.tags}}</div>

    

    

  </div>
  <div class="col-sm-4 col-md-4 col-lg-4"></div>

</div>
<button (click)="onuserclick()">Userdetails</button>

<table style="border: 1px solid black; margin:5px;">
  <th colspan="2">Employees details</th>
  <tr *ngFor="let employee of Employees">
    <td style="border: 1px solid black; padding:5px">{{employee.username}}</td>
    <td style="border: 1px solid black; padding:5px">{{employee.password}}</td>
  </tr>
</table>
<input type="number" placeholder="Enter firstnumber" [(ngModel)]="input.firstnumber"><br/>
<input type="number" placeholder="Enter secondnumber" [(ngModel)]="input.secondnumber">
<button (click)="onadd(input)">Add</button>
{{result}}

</div>