.bar{
    background-color: blueviolet;
}
.logo{
    padding:20px;
    width:100px;
}

.barelememt{
    padding: 20px 20px 5px 10px;
    font-size: 25px;
    text-align: center;
}
.bardata{
    padding: 30px 20px 5px 10px;
    font-size: 25px;
}
.search{
    padding:35px;
}
.mainpost{
    padding:20px;
    border: 1px solid black;
}
.userdata{
    padding:32px;
    font-size:25px;
    text-align: center;
}